[submodule "buildscripts"]
	path = buildscripts
	url = https://github.com/MonoGame/MonoGame.Tool.BuildScripts.git
[submodule "spirvcross"]
	path = spirvcross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
